@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-base {
    @apply bg-dark border-dark font-mont font-bold text-base
           border rounded-full inline-flex items-center justify-center 
           py-2 px-4 text-center text-light;
  }
  .tag-base {
    @apply border-dark/85 font-mont text-sm
           border inline-flex items-center justify-center px-2 py-1 
          text-center text-dark/85 hover:bg-bg_primary;
  }
  .title-large-bk {
    @apply font-bold text-2xl;
  }

  .title-large-blue {
    @apply font-black text-base text-blue mb-2;
  }

  .card-base {
    @apply px-7 bg-bg_white rounded-22 border-2 border-solid border-dark pt-5;
  }
}

@layer utilities {
  /* 
  Header Nav Styling -----------------------------
  */
  .nav-style {
    @apply gap-1 grid grid-cols-10 grid-rows-2 w-[100vw]  border-b-2 border-dark  text-center z-0 pr-4;
  }

  .nav-style-md {
    @apply grid-cols-6 w-[80vw] border-b-0 gap-2;
  }

  .li-main-style {
    @apply relative col-start-1 col-end-5 row-start-1 row-end-3 grid items-center text-2xl font-bold border-2 border-b-0 rounded-t-[33px] py-1;
  }

  .li-main-style-md {
    @apply col-start-1 col-end-4 row-start-1 row-end-3 text-5xl border-4 border-b-0 rounded-t-[42px] py-8;
  }

  .li-main-style-line {
    @apply absolute top-2 -right-3 border-2 border-[#5B5959] w-[100%] h-full rounded-t-[33px] bg-[#C6C4C7] -z-[1];
  }

  .li-main-style-line-md {
    @apply top-3 -right-4 border-4 rounded-t-[42px];
  }

  .li-child1-style {
    @apply relative col-start-5 col-end-7 row-start-2 row-end-3 grid items-center text-sm border-2 border-b-0 rounded-t-22 py-1;
  }

  .li-child1-style-md {
    @apply col-start-4 col-end-5 row-start-2 text-xl border-4 border-b-0 font-bold;
  }

  .li-child-style-line {
    @apply absolute top-1 -right-3 border-2 border-[#5B5959] w-[100%] h-full rounded-t-22 bg-[#C6C4C7] -z-[1];
  }

  .li-child-style-line-md {
    @apply top-2 -right-4 border-4;
  }

  .li-child2-style {
    @apply relative col-start-7 col-end-9 row-span-1 row-start-2 grid items-center text-sm border-2 border-b-0 rounded-t-22;
  }

  .li-child2-style-md {
    @apply col-start-5 col-end-6 row-start-2 text-xl border-4 border-b-0 font-bold;
  }

  .li-child3-style {
    @apply relative col-start-9 col-end-11 row-span-1 row-start-2 grid items-center text-sm  border-2 border-b-0 rounded-t-22;
  }

  .li-child3-style-md {
    @apply col-start-6 col-end-7 row-start-2 text-xl border-4 border-b-0 rounded-t-22 font-bold;
  }

  /* 
  Scroll bar Styling -----------------------------
  */

  .scrollbar-hidden {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

li {
  list-style: none;
}

/* 
  Background Pattern -----------------------------
  */
.bg-pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2229%22%20viewBox%3D%220%200%2028%2029%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6.32031%200H7.96094L24.25%2028.125H22.6094L6.32031%200ZM9.64062%200H11.3008L27.5703%2028.125H25.8906L9.64062%200Z%22%20fill%3D%22%23E6E6E6%22/%3E%3Cpath%20d%3D%22M0%200H1.64062L17.9297%2028.125H16.2891L0%200ZM3.32031%200H4.98047L21.25%2028.125H19.5703L3.32031%200Z%22%20fill%3D%22%23E6E6E6%22/%3E%3C/svg%3E");
  background-repeat: repeat;
}

.table-wrap {
  overflow-x: auto;
  width: 100%;
}

p {
  > span.highlight {
    font-weight: bold;
    background: linear-gradient(
      transparent 50%,
      #fcff52 60% 90%,
      transparent 90%
    );
  }
}

p {
  > span.text-large {
    font-size: 24px;
    font-weight: bold;
    padding: 0px 3px;
  }
}
